@use "../shared/_variables.scss" as v;

header {
  background-color: v.$lightBackground;
  margin: 0%;
  padding: 0.8rem;
  @include v.flex(row, space-between, center);
  font-size: 125%;
  position: sticky;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 3rem;
}

i {
  margin-right: 3rem;
  font-size: 200%;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
  color: v.$lightGreen;
}