$mainBackground: #F7F6F4;
$lightBackground: #EDEAE7;
$grayGreen: #3D4836;
$lightGreen: #7D7B4F;
$gold: #F3C969;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}