@use "../../../shared/_variables" as v;

article {
  background-color: white;
  padding: 1rem;
  margin: 2rem;
  width: 13rem;
  height: 18rem;
  overflow-wrap: wrap;
  overflow: scroll;
  // border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 2px lightGray;
  background-color: white;
}

h4 {
  text-align: center;
}

.delete {
  @include v.flex(row, flex-end, flex-start);

  p {
    font-size: 85%;
    margin: 1%;
    color: darkRed;
  }

  p:hover {
    cursor: pointer;
    font-size: 110%;
  }
}

table {
  min-width: 90%;
}

tr {
  @include v.flex(row, space-between, flex-start);
  margin: 7% 0;
}