<article>
  <div class="delete">
    <p (click)="onDeleteRide()" routerLink="/horses/{{ride.horse_id}}">X</p>
  </div>
  <h4>{{ ride.day }}</h4>
  <table>
    <tr>
      <th>Excercise</th>
      <td>{{ ride.exercise }}</td>
    </tr>
    <tr>
      <th>Tack</th>
      <td>{{ ride.tack }}</td>
    </tr>
    <tr>
      <th>Walk Minutes:</th>
      <td>{{ ride.walk }}</td>
    </tr>
    <tr>
      <th>Trot Minutes:</th>
      <td>{{ ride.trot }}</td>
    </tr>
    <tr>
      <th>Canter Minutes:</th>
      <td>{{ ride.canter }}</td>
    </tr>
    <tr>
      <th>Notes:</th>
      <td>{{ ride.notes }}</td>
    </tr>
  </table>
</article>
