@use "./shared/_variables.scss" as v;

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  width: 100vw;
  background-color: v.$mainBackground;
  height: 100vh;
}

.container {
  @include v.flex(row, flex-start, flex-start);
  width: 100vw;
  height: 100vh;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.sidebar {
  width: 25%;
  height: 100vh;
}

.route-container {
  overflow: scroll;
}