<form>
  <h2>Add New Ride</h2>
  <label for="day">Select a Date</label>
  <input type="date" name="day" id="day">
  <label for="exercise">Exercise</label>
  <select name="exercise" id="exercise">
    <option value="None">None</option>
    <option value="Arena ride">Arena Ride</option>
    <option value="Trail ride">Trail Ride</option>
    <option value="Lunge">Lunge</option>
    <option value="Hand walk">Hand Walk</option>
  </select>
  <label for="tack">Tack Type</label>
  <select name="tack" id="tack">
    <option value="English">English</option>
    <option value="Western">Western</option>
    <option value="Bareback">Bareback</option>
  </select>
  <label for="walk">Walk Minutes</label>
  <input type="number" name="walk" id="walk" min="0">
  <label for="trot">Trot Minutes</label>
  <input type="number" name="trot" id="trot" min="0">
  <label for="canter">Canter Minutes</label>
  <input type="number" name="canter" id="canter" min="0">
  <label for="notes">Additional Notes</label>
  <textarea name="notes" id="notes" rows="4" cols="30"></textarea>
  <button type="submit">Add Ride</button>
  <input type="reset">
</form>
