.rides-container {
  display: flex;
}

// .ride-form-container {
//   background-color: #1C7C54;
//   width: 35%;
// }

.previous-rides-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #26547C;
  width: 100%;
}
